
body, html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    color: white;
    background: linear-gradient(45deg, #11220d 0%, rgba(20, 20, 20, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: #5cce3f;
    transition: 0.5s;
}

nav {
    background-color: rgba(0, 0, 0, 0.322);
    backdrop-filter: blur(10px);
    color: white;
    cursor: default;
    padding: 1rem;
    height: 100%;
    width: 10%;
    position: fixed;
    border-right: 1px solid #8d8d8d;
    z-index: 1;
}

nav a{
    display: block;
    text-align: center;
    border: 1px solid #25511a;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    text-decoration: none;
    color: white;
    margin: 0;
}

.color2Title{
    color: #5cce3f;
    transition: 0.5s;
}

.color2Title:hover{
    color: #5cce3f;
    text-shadow: 0px 0px 10px #4fae37;
    transition: 0.5s;
}

nav a:hover{
    background-color: #4fae37;
    border-color: #4fae37;
    cursor: pointer;
    box-shadow: 0px 0px 10px #4fae37;
    transition: 0.5s;
}

nav ul{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    list-style-position: inside;
}

nav h2{
    border-bottom: 1px solid #8d8d8d;
    padding-bottom: 5px;

}

.formation, .experience, .projet{
    padding: 0px 0px 0px 1rem;
    margin-bottom: 1rem;
    border-left: 1px solid #d2d2d2;
}

.formation:hover, .experience:hover, .projet:hover{
    border-left: 2px solid #4fae37;}

nav hr{
    width: 50%;
    border: none;
    margin: 20px auto;
    border-top: 1px solid #d2d2d2;
    margin: 30px 0;
}

.cards-profil, .cards-competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-left: 15%;
    margin-right: 3%;
}

.card{
    border: 1px solid #4fae37;
    width: 300px;
    text-align: center;
    cursor: default;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.096);
    color: white;
    transition: 0.5s;
}

.card:hover{
    padding: 10px;
    border: 2px solid #4fae37;
    box-shadow: 0px 0px 20px #4fae37;
    text-shadow: 1px 1px 3px black;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.card h3{
    border-bottom: 1px solid #4fae37;
    padding-bottom: 15px;
}

.cardtitles {
    text-align: center;
    color: white;
    margin-left: 15%;
    margin-right: 3%;
    font-size: 50px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: none;
}

/* Trait sous le titre */
.cardtitles::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    height: 1px;
    background-color: #8d8d8d;
}

.photo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.presentation{
    display: flex;
    align-items: center;
}
.titleR, .titleL{
    color: white;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.titleR{
    border-left: solid 1px rgb(143, 143, 143);
    padding: 0px 0px 0px 50px;
    margin-right: 3%;
    margin-left: 1%;
}

.titleL{
    border-right: solid 1px rgb(143, 143, 143);
    margin-left: 15%;
    padding: 0px 50px 0px 0px;
}

.text-descriptionL, .text-descriptionR{
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.text-descriptionL{
    margin-left: 20px;
    margin-right: 50px;
}

.text-descriptionR{
    margin-left: 15%;
}

#BDD:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../img/BDD.jpg");
}

#html:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../img/html.jpg");
}

#server:hover{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("../img/server.jpg");
}

.skill{
    display: flex; 
}

.skills{
    padding: 5px;
    border-radius: 20px;
    justify-content: left;
    font-size: 10px;
    margin: 5px;
}

.epreuve{
    text-align: center;
    border: 1px solid #25511a;
    border-radius: 10px;
    margin: 0 3% 3% 15%;
    padding: 3%;
    box-shadow: 0px 0px 20px #4fae37;
}

.epreuve a{
    border: 1px solid #4fae37;
    border-radius: 10px;
    padding: 5px;
    background-color: #4fae3731;
    color: white;
}


footer{
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
}